<table class="ui stackable yellow striped table">
  <thead>
    <tr>
      <th>Song</th>
      <th>Sung by</th>
      <th>Genre</th>
      <th> </th>
      <th class = "delete" style="text-align:right;">
          <a href="/movie/{{../movie.id}}/deletetrack/{{id}}" class="ui icon button"> <i class="blue icon save outline"></i></a>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each movie.tracks}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{singer}}
        </td>
        <td>
          {{genre}}
        </td>
        <td class = "listen" style="text-align:right;">
          <button class = "ui blue button">
            <a href ="{{youtube}}" target="_blank">Listen now!</a>
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>