<table class="ui stackable yellow striped table">
  <thead>
    <tr>
      <th>Song</th>
      <th>Sung by</th>
      <th>Genre</th>
      <th>Link</th>
      <th style="text-align:right;">
        <a href="/movie/{{../movie.id}}/deletetrack/{{id}}" class="ui icon button"> <i class="blue icon save outline"></i></a>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each movie.tracks}}
    <form class = "ui stacked segment form" action="/editmovie/{{../movie.id}}/updatetrack/{{id}}" method="POST">
      <tr class="fields">
        <td class="field">
        <span class="ui input">
          <input type="text" name="title" autofocus required oninvalid="this.setCustomValidity('Please enter the Song Title')" oninput="this.setCustomValidity('')" placeholder="Title" value = "{{title}}">
        </span>
        </td>
        <td>
          <span class="ui input">
          <input type="text" name="singer" required oninvalid="this.setCustomValidity('Please include the Singer or input Misc for large groups')" oninput="this.setCustomValidity('')" placeholder="Singer" value = "{{singer}}">
          </span>
        </td>
        <td>
         <span class="ui input">
          <select name="genre" id="genre" style="padding:.6em 2.5em; border:solid lightgray 1px;border-radius:5px;">
          <option value="{{genre}}" selected="selected">{{genre}}</option>
          {{{populate genre}}}       
          </select>       
        </span>
        </td>
        <td colspan = "2" class = "listen">
          <span class="ui input">
          <input type="url" id="youtube" name="youtube" required oninvalid="this.setCustomValidity('Please link to this song')" oninput="this.setCustomValidity('')" value = "{{youtube}}">
          </span>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>