{{#each movies}}
<div class="ui card" style="max-width: 100%; min-width: 100%;">
    <div class="content" style="padding: 0;">
        <div class="ui items">
            <div class="item">
                <div class="ui small square image">
                    <img src={{image}}>
                </div>
                <div class="content">
                    <h2>{{title}}</h2>
                    <div class="description">
                        <strong>Year: </strong>{{year}} 
                        <br>
                        <strong>Directed by:</strong> {{director}}
                        <br>
                        <a href= "{{imdb}}" class = "imdb" target = "_blank">IMDb</a>
                        <br>
                      <div class="buttons" id = "movieBtns">
                        <a href="/movie/{{id}}">
                        <button class="ui purple button">
                          Soundtrack <i class="music icon"></i>
                        </button></a>
                        
                        <a href="/dashboard/{{id}}/deletemovie">        
                        <button class="ui red button">
                          Remove Movie <i class="trash alternate outline icon"></i>
                        </button></a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}