{{#each movies}}
<div class="ui card" style="max-width: 100%; min-width: 100%;">
    <div class="content" style="padding: 0;">
        <div class="ui items">
            <div class="item">
                <div class="ui small square image">
                    <img src={{image}}>
                </div>
                <div class="content">
                    <h2>{{title}}</h2>
                    <div class="description">
                        Year: {{year}} 
                        <br>
                        Directed by : {{director}}
                        <br>
                      <div class="buttons">
                        <button class="ui blue button" onclick="showHide()">
          Soundtrack <i class="arrow circle down icon" id ="arrowicon"></i>
        </button>
        
        <button class="ui pink button" onclick="feedback()">
        Remove Movie<i class="comment icon"></i>
        </button>
                        <a href="/movie/{{id}}"><i class = "open folder icon"></i></a>
                        <a href="/dashboard/{{id}}/deletemovie"> <i class = "trash icon delmovie"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}