{{#unless movie.tracks}}
  <div class="noTracks">No tracks yet ... start adding some below!</div>
{{/unless}}

{{#if movie.tracks}}

<table class="ui stackable yellow striped table">
    <tr class = "head">
      <th align="center">Song</th>
      <th align="center">Sung by</th>
      <th align="center">Genre</th>
      <th> </th>
      <th> </th>
      <th> </th>
    </tr>
  <tbody>
    {{#each movie.tracks}}
      <tr>
        <td style="text-align:center;">
          {{title}}
        </td>
        <td style="text-align:center;">
          {{singer}}
        </td>
        <td style="text-align:center;">
          {{genre}}
        </td>
        <td class = "listen" style="text-align:right;">
          <button class = "ui blue button">
            <a href ="{{youtube}}" target="_blank">Listen now!</a>
          </button>
        </td>
        <td class = "update" style="text-align:right;">
          <a href="/editmovie/{{../movie.id}}" class="ui icon button"> <i class="blue icon edit"></i></a>
        </td>
        <td class = "delete" style="text-align:right;">
          <a href="/movie/{{../movie.id}}/deletetrack/{{id}}" class="ui icon button deltrack"> <i class="blue icon trash"></i></a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<button class = "ui blue button" id ="rate">Rate this soundtrack:</button> <div class="ui huge star rating"></div>
{{/if}}