{{#each movies}}
    <div class = "ui three wide stackable column" id = "test">
      <img src = {{image}} class = "ui square image">
    </div>
    <div class = "ui thirteen wide column">
    <h2 class="ui header">
      {{title}}
    </h2>
     Year: {{year}} 
      <br>
      Directed by : {{director}}
    <a href="/movie/{{id}}"><i class = "open folder icon"></i></a>
    <a href="/dashboard/{{id}}/deletemovie"> <i class = "trash icon delmovie"></i></a>
    </div>
{{/each}}