<table class="ui fixed striped table">
  <thead>
    <tr>
      <th>Song</th>
      <th>Sung by</th>
      <th>Genre</th>
      <th>Play now</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    {{#each movie.tracks}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{singer}}
        </td>
        <td>
          {{genre}}
        </td>
        <td>
          <a href ="{{youtube}}">Listen now</a>
        </td>
        <td>
          <a href="/movie/{{../movie.id}}/deletetrack/{{id}}" class="ui icon button deltrack"> <i class="icon trash"></i></a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>