<table class="ui fixed striped table">
  <thead>
    <tr>
      <th>Song</th>
      <th>Sung by</th>
      <th>Genre</th>
      <th>Play now</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    {{#each movie.tracks}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{singer}}
        </td>
        <td>
          {{genre}}
        </td>
        <td>
          {{!-- Code for audio gotten from W3Schools: https://www.w3schools.com/html/html5_audio.asp --}}
          <audio controls>
            <source src={{audio}} type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </td>
        <td>
          <a href="/movie/{{../movie.id}}/deletetrack/{{id}}" class="ui icon button deltrack"> <i class="icon trash"></i></a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>