{{> menu}}

<section class="ui grid">
      <div class="ui sixteen wide column">
        <h1>Disney Movie Soundtracks 101</h1>
        <div class = "stats2">
          <h1 class="ui header">
          Welcome back, {{fullname}}!
        </h1>
          So far, you have: 
          <br>
        <div class="ui big blue statistic">
        <div class="value">
            {{totalMovies}}
        </div>
        <div class="label">
            Movies
        </div>
    </div>
    <div class="ui big blue statistic">
        <div class="value">
            {{totalTracks}}
        </div>
        <div class="label">
            Tracks
        </div>
    </div>
    <div class="ui big blue statistic">
        <div class="value">
            {{avgMovies}}
        </div>
        <div class="label">
            Movies <br>per User
        </div>
    </div>
    <div class="ui big blue statistic">
        <div class="value">
            {{avgTracks}}
        </div>
        <div class="label">
            Tracks <br>per User
        </div>
    </div>
    <br><br>
    <div class="ui big blue horizontal statistic">
        <div class="text value">
            {{bigContributer}} <img src="{{bigProfilePic}}" class="ui circular inline image">
        </div>
        <div class="label" id = "bigContributer">
            : Our biggest contributor(s)
        </div>
    </div>
          <br>
    <div class="ui big blue horizontal statistic">
        <div class="text value">
            {{smallContributer}} <img src="{{smallProfilePic}}" class="ui circular inline image">
        </div>
        <div class="label" id = "smallContributer">
            : Our smallest contributor(s)
        </div>
    </div>
          <br>
          Head over to your dashboard to see all your collections!           
        </div>     
      </div>
  
    </section>