{{> menu}}

<section class="ui grid">
      <div class="ui sixteen wide column">
        <h1>Disney Movie Soundtracks 101</h1>
        <div class = "stats2">
          <h1 class="ui header">
          Welcome back, {{fullname}}!
        </h1>
          So far, you have:
          <br>
        <div class="ui big blue statistic">
        <div class="value">
            {{totalMovies}}
        </div>
        <div class="label">
            Movies
        </div>
    </div>
    <div class="ui big blue statistic">
        <div class="value">
            {{totalTracks}}
        </div>
        <div class="label">
            Tracks
        </div>
    </div>
    <div class="ui big blue statistic">
        <div class="value">
            {{averageTracks}}
        </div>
        <div class="label">
            Tracks <br>per Movie
        </div>
    </div>
    <div class="ui big blue statistic">
        <div class="text value">
            {{biggestTrack}} <img src="{{biggestProfilePic}}" class="ui circular inline image">
        </div>
        <div class="label" id = "bigContributer">
            Your biggest<br>Soundtrack 
        </div>
    </div>
    <div class="ui big blue statistic">
        <div class="text value">
            {{smallestTrack}} <img src="{{smallestProfilePic}}" class="ui circular inline image">
        </div>
        <div class="label" id = "smallContributer">
            Your smallest<br>Soundtrack
        </div>
    </div>
          <br><br>
          Head over to your dashboard to see all your collections!           
        </div>     
      </div>
  
    </section>